openapi: 3.0.0
info:
  contact: {}
  description: これはサロン顧客管理用APIです。
  title: Salon App API
  version: "1.0"
paths:
  /login:
    post:
      description: ログイン
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: ログイン
      tags:
        - system
  /ping:
    get:
      description: サーバーの生存確認用
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: 疎通確認
      tags:
        - system
  /signup:
    post:
      description: 新規登録
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: 新規登録
      tags:
        - system
  /store:
    get:
      description: 店舗一覧
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: 店舗一覧
      tags:
        - system
  /store-registration:
    post:
      description: 店舗登録
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: 店舗登録
      tags:
        - system
servers:
  - url: //localhost:8080/api/v1
