openapi: 3.0.0
info:
  contact: {}
  description: これはサロン顧客管理用APIです。
  title: Salon App API
  version: "1.0"
paths:
  /ping:
    get:
      description: サーバーの生存確認用
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: 疎通確認
      tags:
        - system
servers:
  - url: //localhost:8080/api/v1
