basePath: /api/v1
host: localhost:8080
info:
  contact: {}
  description: これはサロン顧客管理用APIです。
  title: Salon App API
  version: "1.0"
paths:
  /course-registration:
    post:
      consumes:
      - application/json
      description: コース登録
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: コース登録
      tags:
      - system
  /customer-registration:
    post:
      consumes:
      - application/json
      description: 顧客登録
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 顧客登録
      tags:
      - system
  /login:
    post:
      consumes:
      - application/json
      description: ログイン
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: ログイン
      tags:
      - system
  /ping:
    get:
      consumes:
      - application/json
      description: サーバーの生存確認用
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 疎通確認
      tags:
      - system
  /signup:
    post:
      consumes:
      - application/json
      description: 新規登録
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 新規登録
      tags:
      - system
  /store:
    get:
      consumes:
      - application/json
      description: 店舗一覧
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 店舗一覧
      tags:
      - system
  /store-registration:
    post:
      consumes:
      - application/json
      description: 店舗登録
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 店舗登録
      tags:
      - system
  /visit-registration:
    post:
      consumes:
      - application/json
      description: 来店登録
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 来店登録
      tags:
      - system
swagger: "2.0"
