basePath: /api/v1
host: localhost:8080
info:
  contact: {}
  description: これはサロン顧客管理用APIです。
  title: Salon App API
  version: "1.0"
paths:
  /ping:
    get:
      consumes:
      - application/json
      description: サーバーの生存確認用
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: 疎通確認
      tags:
      - system
swagger: "2.0"
